{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  <link rel="manifest" href="{{ 'manifest.webmanifest' | url }}">
  <meta name="theme-color" content="#263238">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="apple-mobile-web-app-title" content="Home Energy">
  <link rel="apple-touch-icon" href="{{ 'assets/home-energy-app-icon.svg' | url }}">
{% endblock %}
