[Unit]
Description=Collect EMS Homey Insights hourly

[Timer]
OnCalendar=*-*-* *:12:00
Persistent=true
Unit=ems-homey-insights.service

[Install]
WantedBy=timers.target
