[Unit]
Description=Run Pi dynamic planner control publish every minute

[Timer]
OnBootSec=20s
OnUnitActiveSec=60s
AccuracySec=5s
Unit=ems-pi-control-publish.service

[Install]
WantedBy=timers.target
