[Unit]
Description=Run EMS PV capture validation daily

[Timer]
OnCalendar=*-*-* 00:20:00
Persistent=true
Unit=ems-pv-capture-validation.service

[Install]
WantedBy=timers.target
