[Unit]
Description=Run EMS Pi EnergyZero price forecast every 15 minutes

[Timer]
OnCalendar=*:03,18,33,48
Persistent=true
Unit=ems-price-forecast.service

[Install]
WantedBy=timers.target
