[Unit]
Description=Run EMS Pi EnergyZero price forecast every 15 minutes

[Timer]
OnCalendar=*:02,17,32,47
Persistent=true
Unit=ems-price-forecast.service

[Install]
WantedBy=timers.target
