[Unit]
Description=Run EMS P1/PV Day History Collector every 5 minutes

[Timer]
OnCalendar=*:0/5
Persistent=true
Unit=ems-day-history.service

[Install]
WantedBy=timers.target
