[Unit]
Description=Collect EMS Honeywell schedules hourly

[Timer]
OnCalendar=*-*-* *:07:00
Persistent=true
AccuracySec=1min
Unit=ems-honeywell-schedule.service

[Install]
WantedBy=timers.target
